body{
	background: #ffffff;
	font-family: "Microsoft YaHei UI Light";
	font-size: 14px;
}

a{
	color:#000000;
	text-decoration: none;
}
a:hover{
	text-decoration: none;
}

img{
	width:100%;
}
p{
	font-size: 14px;
}

pre{
	padding: 16px;
    overflow: auto;
    font-size: 85%;
    line-height: 1.45;
    background-color: #f6f8fa;
    border-radius: 3px;
    margin-top: 0;
    margin-bottom: 16px;
    word-wrap: normal;
    color: #24292e;
    font-family: "SFMono-Regular", Consolas, "Liberation Mono", Menlo, Courier, monospace;
	border:0px;
}

h1{
	font-size: 2.25em;
}
h2{
	margin:0px;
	padding:10px 0px 20px 0px;
}

blockquote {
    padding: 10px 20px;
    margin: 0 0 20px;
    font-size: 14px;
    border-left: 5px solid #eee;
    color:#6a737d;
}
.page {
	tab-size: 4;
	font-family: "-apple-system", BlinkMacSystemFont, "\5FAE\8F6F\96C5\9ED1", "PingFang SC", Helvetica, Tahoma, Arial, "Hiragino Sans GB", "Microsoft YaHei", SimSun, "\5B8B\4F53", Heiti, "\9ED1\4F53", sans-serif;
}
.page h1{
	padding-bottom: 0.3em;
	border-bottom: 1px solid #eaecef;
	margin-bottom: 16px;
    font-weight: 600;
    margin-top: 24px;
    line-height: 1.25;
}
.page h2{
	font-size: 1.75em;
	padding-bottom: 0.3em;
	border-bottom: 1px solid #eaecef;
	margin-bottom: 16px;
	margin-top: 24px;
    font-weight: 600;
    line-height: 1.25;
}
.page h3{
	font-size: 1.5em;
	padding-bottom: 0.3em;
	border-bottom: 1px solid #eaecef;
	margin-top: 24px;
	margin-bottom: 16px;
    font-weight: 600;
    line-height: 1.25;
}
.navbar{
	list-style: none;
	margin:0px;
	padding:0px;
}
.navbar li a{
	padding:10px;
	display: inline-block;
	text-decoration: none;
	font-size: 16px;
}

.fix{
	position: fixed;
	width:25%;
	min-width: 220px;
	height: 100%;
	background: url("http://static.wawmam.com/map.png");
	background-size: cover;
	background-position: center;
	background-repeat: no-repeat;
	text-align: center;
	color: #000000;
}

.mark{
	position: absolute;
	width:100%;
	background: rgba(255,255,255,0.4);
	height: 100%;
}
.avatar{
	margin-top:50px;
}
.avatar img{
	width:80px;
	height:80px;
	display: inline-block;
	border-radius: 100%;
}

.panel{
	border-radius: 0px;
	box-shadow: none;
	transition: box-shadow 0.6s;
	cursor: pointer;

}

.panel:hover{
	box-shadow: 0px 0px 16px #f0f0f0;
}

a.panel{
	display: block;
}

.content{
	padding: 20px 0px;
}
.article-li h2{
	font-size: 24px;
	color:#333;
}
.article-li p{
	color:#999;
	padding:0px;
	margin:0px;
	font-size: 14px;
}

.no-padding{
	padding:0px;
}
.no-padding-l{
	padding-left:0px;
}
.no-padding-r{
	padding-right:0px;
}
.no-margin{
	margin:0px;
}

.relation{
	position: relative;
}

.listing{
	list-style: none;
	margin:0px;
	padding:0px;
}

li.listing-seperator{
	padding-left:10px;
	border-left:1px solid #999;
}