---
layout: new
---
<div class="content">
    <header class="intro-header" >
    <div class="col-lg-12">
        <div class="post-heading">
            <div class="Tags">
                {% for tag in page.tags %}
                <a class="label label-primary" href="/tags/#{{ tag }}" title="{{ tag }}"><i class="fa fa-fw fa-circle-thin"></i> {{ tag }}</a>
                {% endfor %}
            </div>
            <h1>{{ page.title }}</h1>
            {% if page.subtitle %}
            <h2 class="subheading">{{ page.subtitle }}</h2>
            {% endif %}
            <span class="meta">
                <i>
                    Posted by {% if page.author %}{{ page.author }}{% else %}{{ site.title }}{% endif %} on {{ page.date | date: "%B %-d, %Y" }}
                </i>
            </span>
        </div>
        <hr>
    </div>
</header>

<!-- Post Content -->
<article class="page">
    <div class="col-lg-12">

        {{ content }}

        <hr>

        <ul class="pager">
            {% if page.previous.url %}
            <li class="previous">
                <a href="{{ page.previous.url | prepend: site.baseurl | replace: '//', '/' }}" data-toggle="tooltip" data-placement="top" title="{{page.previous.title}}">&larr; Previous Post</a>
            </li>
            {% endif %}
            {% if page.next.url %}
            <li class="next">
                <a href="{{ page.next.url | prepend: site.baseurl | replace: '//', '/' }}" data-toggle="tooltip" data-placement="top" title="{{page.next.title}}">Next Post &rarr;</a>
            </li>
            {% endif %}
        </ul>
    </div>
</div>
</article>
</div>
