---
layout: new
---
<div class="container">
    <div class="row">
        <div class="col-xs-12 col-md-12 col-lg-12">
            <!-- Post Content -->
            <article class="page">
                    <h1>{{ page.title }}</h1>
                    <div class="article-attrs text-left">
                        <span>
                            <i class="fa fa-fw fa-calendar"></i>
                            {{ page.date | date: "%Y-%m-%d" }}
                        </span>
                        <span>
                            <i class="fa fa-fw fa-tags"></i>
                            {% for tag in page.tags %}
                            <a href="/2_tags/#{{ tag }}" title="{{ tag }}">{{ tag }}</a>
                            {% endfor %}
                        </span>
                    </div>
                    {{ content }}
                    <div class="text-right">
                        <img src="http://static.wawmam.com/zhangmingliang.png" style="width:200px;">
                    </div>
                    <ul class="pager">
                        {% if page.previous.url %}
                        <li class="previous">
                            <a href="{{ page.previous.url | prepend: site.baseurl | replace: '//', '/' }}" data-toggle="tooltip" data-placement="top" title="{{page.previous.title}}"><i class="fa fa-fw fa-arrow-circle-left"></i> Previous Post</a>
                        </li>
                        {% endif %}
                        {% if page.next.url %}
                        <li class="next">
                            <a href="{{ page.next.url | prepend: site.baseurl | replace: '//', '/' }}" data-toggle="tooltip" data-placement="top" title="{{page.next.title}}">Next Post <i class="fa fa-fw fa-arrow-circle-right"></i></a>
                        </li>
                        {% endif %}
                    </ul>
            </article>
        </div>
    </div>
    
</div>

